.DS_Store
*.asv
*.m2
*.mat
*.jpg
Thu*.d*
*.m_*
*.eps


*.m~


*.pdf
analyzeData/flyTV/prototype_ContModNoise.m

collectData/flyTV/flytv_runSOMDrift.m

collectData/flyTV/flytv_runSOMDriftNoDAQ.m

collectData/flyTV/flytv_plaidShuffle3.m