.DS_Store
*.asv
*.m2
*.mat
*.jpg
Thu*.d*
*.m_*
*.eps


*.m~

collectData/flyTV/flytv_runSOMDriftNoDAQ.m

collectData/flyTV/flytv_runSOMDrift.m

analyzeData/flyTV/prototype_ContModNoise.m

generalToolboxFunctions/Matteobox/fit_powFunction_Mean.m

analyzeData/flyTV/flytv_sweep_analysis_goodBins5c.m

analyzeData/NewRig/fly_analyzeDirectory.m

analyzeData/Tunis/TunisPDData.pdf
